@import "../../global.scss";

.js-sections {
    position: relative;
    top: 70px;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;

    }

    &::-webkit-scrollbar {
        display: none; //reszta przeglądarek
    }

    .item {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap: 30px;
        margin-left: 20px;
        margin-top: 20px;

        .left {
            margin-right: 60px;

            h1 {
                text-align: center;
                margin-bottom: 20px;

            }
        }

        .right {
            margin-right: 60px;
            background-color: rgb(41, 41, 41);

            img {
                width: 100%;

            }

        }

        @include mobile {
            grid-template-columns: none;
            margin-right: -40px;
        }
    }

    hr {
        color: $mainColor;
    }
}